* {
  font-family: 'Roboto' , sans-serif;
}

.promo {
  background: url("../img/Sky.jpg");
  background-background-repeat: no-repeat;
  background-background-attachment: fixed;
  background--o-background-size: cover;
  background--moz-background-size: cover;
  background--webkit-background-size: cover;
  min-height: 800px;
}

.promo a {
  text-decoration: none;
}

.menu_list {
  padding-top: 41px;
  margin: 0;
  float: right;
}

.menu_item {
  list-style: none;
  display: inline-block;
  margin-right: 70px;
  font-weight: 700;
}

.menu_link {
  color: #434344;
}

.menu_link:hover {
  color: orange;
}

.hamburger {
  display: none;
}

.logo {
  display: inline-block;
  padding-top: 20px;
}

.logo img {
  width: 180px;
  height: 65px;
}

.promo_text {
  text-align: center;
  padding-top: 218px;
}

.promo_text h1 {
  font-size: 45px;
  color: #434344;
}

.company_name:after, .company_name:before, .avalon_name:after, .avalon_name:before {
  content: '';
  width: 20px;
  height: 2px;
  background-color: #434344;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.avalon_name {
  padding-top: 104px;
  text-align: center;
}

.promo_btn {
  display: inline-block;
  background-color: transparent;
  color: #434344;
  border: 2px solid #434344;
  border-radius: 100px;
  height: 50px;
  margin: 0 auto;
  width: 240px;
  margin-top: 30px;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.promo_btn:hover {
  background-color: #6e45e2;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

.arrow_down {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 225px;
  cursor: pointer;
}

.arrow_down img {
  padding-top: 18px;
}

.block_title {
  padding-top: 10px;
  text-align: center;
  color: #4f4f6f;
  font-weight: 500;
  font-size: 50px;
}

.services {
  background-color: #F4F4F4;
  min-height: 885px;
}

.services_overlay {
  padding-top: 81px;
}

.services_item {
  margin: 0;
  width: 100%;
  height: 513px;
  text-align: center;
  border: none;
  border-radius: 22px;
  background-color: #fff;
  color: #4f4f6f;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -webkit-transition: all 0.5s ease-out;
  cursor: pointer;
}

.services_item:hover {
  -webkit-box-shadow: 0px 0px 60px 10px rgba(204, 204, 223, 0.71);
          box-shadow: 0px 0px 60px 10px rgba(204, 204, 223, 0.71);
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.services img {
  width: 120px;
  height: 127px;
  margin-top: 37px;
}

.services_title {
  margin-top: 40px;
  font-weight: 700;
  color: black;
}

.services_descr {
  padding: 25px 20px;
}

.about {
  background-color: #9ed1ec;
  min-height: 650px;
}

.about_text {
  text-align: center;
  margin-top: 30px;
}

.about span {
  font-weight: 700;
}

.contacts {
  min-height: 600px;
  background-color: #F4F4F4;
  padding-top: 40px;
  padding-bottom: 100px;
}

.contacts_title {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}

.contacts_subtitle {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.contacts_block {
  width: 90%;
  height: 450px;
  padding-top: 100px;
  background-color: #6b61f3;
  border-radius: 12px;
  margin: 0 auto;
}

.contacts_icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-left: 30px;
}

.contacts_item {
  color: white;
  margin-top: 20px;
}

.contacts_link {
  color: white;
}

.contacts_link:hover {
  color: orange;
}

.contacts_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: white;
}

.form-control {
  width: 90%;
}

.line {
  width: 90%;
  display: block;
  height: 1px;
  background-color: black;
  margin: 0 auto;
}

footer {
  background-color: #302e2e;
  min-height: 70px;
}

.copyright {
  padding-top: 22px;
  text-align: center;
  color: white;
}

.pageup img {
  display: block;
  width: 44px;
  height: 44px;
  z-index: 1;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.thanks {
  background: url("../img/Sky.jpg") center center/cover no-repeat;
  height: 100vh;
}

.thanks h2 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding-top: 100px;
}

.thanks p {
  text-align: center;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .services_descr {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .menu img {
    display: none;
  }
  .services_item {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    cursor: none;
    border-radius: 0%;
  }
  .services_item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
  }
  .services_overlay {
    padding-top: 23px;
  }
  .services_overlay img {
    width: 100px;
    height: 100px;
  }
  .services_title {
    margin-top: 20px;
  }
  .services_descr {
    padding: 19px 9px;
    font-size: 14px;
  }
  .about {
    padding-bottom: 60px;
  }
  .contacts_block {
    width: 100%;
  }
  .contacts_item {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
  .promo h1 {
    font-size: 30px;
  }
  .services {
    border-radius: 0%;
  }
  .services_item {
    margin-bottom: 15px;
  }
  button {
    font-size: 14px;
  }
  .pageup img {
    width: 35px;
    height: 35px;
  }
  .contacts_title {
    padding-top: 20px;
  }
  .copyright {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */